In [15]:
city_name = 'Bangalore'
print(f"Enter city : {city_name}")

Enter city : Bangalore

In [18]:
a = 45
b = 55
print(f" sum of {a} and {b} is {a+b}")

 sum of 45 and 55 is 100

In [22]:
temperature = 25
print(f"the temperature of kolkata is {temperature}°C")

the temperature of kolkata is 25°C

In [24]:
weekly_temperatures = [25,27,28,26,24,30,29]
print(f"Weekly Temperatures : {weekly_temperatures}")

Weekly Temperatures : [25, 27, 28, 26, 24, 30, 29]

In [28]:
city_data = {
    "name" : "Bangalore",
    "temperature" : 25,
    "carbon_footprint" : 500.75,
    "is_sustainable" : False
}
print("City Data : ",city_data)

City Data :  {'name': 'Bangalore', 'temperature': 25, 'carbon_footprint': 500.75, 'is_sustainable': False}